{{- if and (not .alt) (not .ignoreAlt) -}}
  {{- warnidf "missing-img-alt" "Unable to get img alt for '%s'." .alt -}}
{{- end -}}
{{- $image := partial "img_resource.html" . -}}
{{- $dimensions := partial "img_dimensions.html" $image -}}
{{- $style := "" }}
{{- if and $dimensions.width $dimensions.height .forceAspectRatio }}
  {{- $style = printf "aspect-ratio: %g;" (div (float $dimensions.width) (float $dimensions.height)) }}
{{- end }}
{{- if .style }}
  {{- $style = printf "%s %s" $style .style | trim }}
{{- end }}
{{- define "partials/img-only.html" -}}
  <img
    src="{{ .image.RelPermalink }}"
    alt="{{ .alt }}"
    {{ with .srcset }}{{ printf "srcset=%q" . | safeHTMLAttr }}{{ end }}
    {{ with .sizes }}{{ printf "sizes=%q" . | safeHTMLAttr }}{{ end }}
    {{- if not .forceAspectRatio }}
      {{ with .dimensions.width }}width="{{ . }}"{{ end }}
      {{ with .dimensions.height }}height="{{ . }}"{{ end }}
    {{- end }}
    {{ with .class }}class="{{ . }}"{{ end }}
    {{ with .style }}style="{{ . | safeCSS }}"{{ end }}
  />
{{- end -}}
{{- if eq $image.MediaType.SubType "svg" }}
  {{ partial "img-only.html" (dict
    "image" $image
    "alt" .alt
    "dimensions" $dimensions
    "class" .class
    "style" $style
    "forceAspectRatio" .forceAspectRatio)
  }}
{{- else }}
  {{- $srcsets := slice -}}
  {{- $sizeNumbers := slice -}}
  {{- $lastSize := "" }}
  {{- $limitWidth := int (math.Min (default $dimensions.width .limitWidth) $dimensions.width) }}
  {{- $srcImage := 0 -}}
  {{- range ((union (slice 400 575 767 991 1200 1400 2000 $limitWidth) .additionalSizes) | sort | uniq) -}}
    {{- if ge $limitWidth . }}
      {{- $resizedImage := $image.Resize (printf "%dx webp" .) -}}
      {{- if eq 0 (len $srcsets) }}
        {{- $srcImage = $resizedImage -}}
      {{- end -}}
      {{- $srcsets = $srcsets | append (printf "%s %dw" $resizedImage.RelPermalink .) -}}
      {{- $lastSize = printf "%dpx" . }}
      {{- $sizeNumbers = $sizeNumbers | append (printf "(max-width: %dpx) %dpx" . .) -}}
    {{- end -}}
  {{- end -}}
  {{- $thumbImageSrcset := "" -}}
  {{- if eq 1 (len $srcsets) }}
    {{- $srcsets = slice -}}
    {{- $sizeNumbers = slice -}}
  {{- end -}}
  {{- if len $sizeNumbers }}
    {{- $sizeNumbers = (first (sub (len $sizeNumbers) 1) $sizeNumbers) | append $lastSize -}}
  {{- end -}}
  {{- $srcset := delimit $srcsets ", " -}}
  {{- $sizes := delimit $sizeNumbers ", " -}}
  {{- if not $srcImage }}
    {{- $srcImage = partial "img_towebp.html" . -}}
  {{- end -}}
  {{- if and .sizes (not $srcset) }}
    {{- warnf "Received sizes but srcset is empty." }}
  {{- end -}}
  {{ partial "img-only.html" (dict
    "image" $srcImage
    "alt" .alt
    "dimensions" $dimensions
    "class" .class
    "style" $style
    "srcset" $srcset
    "sizes" (default $sizes .sizes)
    "forceAspectRatio" .forceAspectRatio)
  }}
{{- end }}
