@use "sass:color";
@use "mixins";
@use "variables";

.btn {
  font-family: var(--secondary-font);
  border: none;
  color: var(--inverse-text-color) !important;
  padding: 20px 45px;
  border-radius: 0;
  &:focus,
  &:active {
    color: var(--inverse-text-color) !important;
  }
  &:focus {
    box-shadow: none;
  }
  @include mixins.desktop {
    padding: 17px 40px;
  }
  .btn-area {
    display: block;
    overflow: hidden;
    color: var(--color-on-dark-background);
  }
  &:hover {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);
        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }
  &:visited {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);
        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }
}

.btn-sm {
  padding: 15px 40px !important;
}

.btn-sm-rounded {
  border-radius: 40px;
}

.btn-secondary {
  --bs-btn-hover-bg: var(--tertiary-color-light);
  --bs-btn-hover-border-color: var(--tertiary-color-light);
  --bs-btn-active-bg: var(--tertiary-color);
  --bs-btn-active-border-color: var(--tertiary-color);
}

.btn-tertiary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--text-color);
  --bs-btn-bg: var(--tertiary-color);
  --bs-btn-border-color: var(--tertiary-color);
  --bs-btn-hover-color: var(--text-color);
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: var(--tertiary-color);
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
}

.btn-close {
  width: 0.5em;
  height: 0.5em;
}
