@use "sass:color";
@use "mixins";
@use "variables";

.btn {
  font-family: variables.$secondary-font;
  border: none;
  color: variables.$white !important;
  padding: 20px 45px;
  border-radius: 0;
  &:focus,
  &:active {
    color: white !important;
  }
  &:focus {
    box-shadow: none;
  }
  @include mixins.desktop {
    padding: 17px 40px;
  }
  .btn-area {
    display: block;
    overflow: hidden;
    span {
      position: relative;
      display: inline-block;
      padding: 2px 0;
      transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left center;
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  &:hover {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);
        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }
  &:visited {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);
        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }
}

.btn-sm {
  padding: 15px 40px !important;
}

.btn-sm-rounded {
  border-radius: 40px;
}

.btn-secondary {
  --bs-btn-hover-bg: #{color.adjust($color: variables.$tertiary-color, $lightness: -20%)};
  --bs-btn-hover-border-color: #{color.adjust($color: variables.$tertiary-color, $lightness: -20%)};
  --bs-btn-active-bg: #{variables.$tertiary-color};
  --bs-btn-active-border-color: #{variables.$tertiary-color};
}

.btn-tertiary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{variables.$tertiary-color};
  --bs-btn-border-color: #{variables.$tertiary-color};
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{variables.$primary-color};
  --bs-btn-hover-border-color: #{variables.$primary-color};
  --bs-btn-focus-shadow-rgb: #{variables.$tertiary-color};
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{variables.$primary-color};
  --bs-btn-active-border-color: #{variables.$primary-color};
}

.btn-close {
  width: 0.5em;
  height: 0.5em;
}
