{{ define "main" }}
  <section class="site-blog details" data-pagefind-body>
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10">
          <article class="site-blog-details">
            <div>
              <span class="float-right" data-pagefind-ignore>{{ .PublishDate | time.Format ":date_medium" }}</span>
              {{- range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}" class="badge text-bg-tertiary">{{ .LinkTitle }}</a>
              {{- end }}
            </div>
            <div class="blog-title-wrapper">
              <h2 class="blog-title" data-pagefind-meta="title">{{ .Title }}</h2>
              {{- if (.Param "ShowReadingTime") -}}
                <div class="blog-title-readingtime" data-pagefind-ignore>
                  {{ (i18n "readTimeLong" .ReadingTime) }}
                </div>
              {{- end -}}
            </div>
            {{- $image := or (.Resources.Get .Params.featureImage) (.Parent.Resources.Get .Params.featureImage) -}}
            {{- $alt := .Params.featureImageAlt -}}
            {{- if not $image -}}
              {{- if or (and (eq .Params.useDefaultFeatureImage nil) site.Params.useDefaultFeatureImage) .Params.useDefaultFeatureImage }}
                {{- $image = resources.Get site.Params.blogFeatureImage -}}
                {{- $alt = i18n "blogFeatureImageAlt" -}}
              {{- end -}}
            {{- end -}}
            {{- if $image -}}
              {{ partial "img.html" (dict
                "image" $image
                "class" "feature-image"
                "alt" $alt
                "additionalSizes" (slice site.Params.postMaxImageWidth (mul 2 site.Params.postMaxImageWidth))
                "forceAspectRatio" true)
              }}
            {{- end -}}
            {{- $toc := .TableOfContents }}
            {{- if gt (strings.Count "<li>" $toc) 3 }}
              <h3>{{ i18n "content" }}:</h3>
              {{ $toc }}
            {{- end }}
            <div class="site-blog-details-content">
              {{ .Content }}
            </div>
            {{- $tags := .GetTerms "tags" -}}
            {{- if $tags -}}
              <div class="site-blog-tags">
                <span class="site-blog-tags-title">Tags:</span>
                {{- range $tags }}
                  <a href="{{ .RelPermalink }}">
                    <span class="badge badge-pill text-bg-tertiary post-tag">{{ .LinkTitle }}</span>
                  </a>
                {{- end -}}
              </div>
            {{- end -}}
          </article>
          <hr />
          {{ partial "social_share_single.html" . }}
          <hr />
          {{ partial "edit_this_page.html" . }}
          {{ partial "comments.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
