{{ define "main" }}
  <section class="site-blog details">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8">
          <article class="site-blog-details">
            <div>
              <span class="float-right">{{ .PublishDate | time.Format ":date_medium" }}</span>
              {{- range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}" class="badge badge-primary">{{ .LinkTitle }}</a>
              {{- end }}
            </div>
            <div class="blog-title-wrapper">
              <h2 class="blog-title">{{ .Title }}</h2>
              {{- if (.Param "ShowReadingTime") -}}
                <div class="blog-title-readingtime">
                  {{ (i18n "readTimeLong" .ReadingTime) }}
                </div>
              {{- end -}}
            </div>
            {{- $image := or (.Resources.Get .Params.featureImage) (.Parent.Resources.Get .Params.featureImage) -}}
            {{- $alt := .Params.featureImageAlt -}}
            {{- if not $image -}}
              {{- if or (and (eq .Params.useDefaultFeatureImage nil) site.Params.useDefaultFeatureImage) .Params.useDefaultFeatureImage }}
                {{- $image = resources.Get site.Params.blogFeatureImage -}}
                {{- $alt = i18n "blogFeatureImageAlt" -}}
              {{- end -}}
            {{- end -}}
            {{- if $image -}}
              {{- if not $alt -}}
                <i class="fa-solid fa-triangle-exclamation missing-alt"></i>
                {{- warnidf "post-thumb-missing-image-alt" "Post '%s' (%s) does not have feature image alt." .Title .Path -}}
              {{- end -}}
              {{ partial "img.html" (dict "image" $image "class" "feature-image" "alt" $alt "limitWidth" site.Params.postMaxImageWidth) }}
            {{- end -}}
            {{- $toc := .TableOfContents }}
            {{- if gt (strings.Count "<li>" $toc) 3 }}
              <h3>{{ i18n "content" }}:</h3>
              {{ $toc }}
            {{- end }}
            <div class="site-blog-details-content">
              {{ .Content }}
            </div>
            {{- $tags := .GetTerms "tags" -}}
            {{- if $tags -}}
              <div class="site-blog-tags">
                <span class="site-blog-tags-title">Tags:</span>
                {{- range $tags }}
                  <a href="{{ .RelPermalink }}">
                    <span class="badge badge-pill badge-tertiary post-tag">{{ .LinkTitle }}</span>
                  </a>
                {{- end -}}
              </div>
            {{- end -}}
          </article>
          <hr />
          {{ partial "social_share_single.html" . }}
          {{ partial "comments.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
