.archive-year {
  margin: 3rem 0;

  &-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
  }
}

.archive-header-link {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.archive-header-year-link {
  font-weight: 700;
}

.archive-header-month-link {
  font-weight: 600;
}

.archive-month {
  margin-left: 2rem;
  margin-bottom: 2rem;

  &-header {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

.archive-posts {
  margin-left: 1.5rem;
}

.archive-entry {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--background-color-light);
  }
}

.archive-entry-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

  .post-tag {
    font-size: 0.6rem;
  }

  a {
    text-decoration: none;
    color: var(--text-color-dark);

    &:hover {
      color: var(--primary-color);
    }
  }
}

.archive-count {
  font-size: 1rem;
  color: var(--text-color-light-2);
  font-weight: normal;
}

.archive-meta {
  font-size: 0.9rem;
  color: var(--text-color-light-1);
}

.entry-hint-parent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.entry-hint {
  color: var(--text-color-light-1);
  display: inline-flex;
  align-items: center;
}
