@use "../mixins";
@use "../variables";
@use "sass:color";

.site {
  &-blog {
    padding: 0 0;
    overflow: hidden;
    background-color: var(--body-color);
    &.details {
      padding: 150px 0 80px;
      @include mixins.tablet {
        padding: 100px 0 60px;
      }
    }
    &-posthighlight {
      &-wrapper {
        margin-bottom: 50px;
      }
      &-content {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        margin-top: -180px;
        @include mixins.desktop {
          margin-top: 0;
        }
      }
      &-category {
        font-size: 50px;
        color: var(--tertiary-color);
        margin-bottom: 10px;
      }
      &-featureimage {
        width: 100%;
      }
    }
    &-header {
      background-color: var(--body-color);
      padding: 120px 0 80px;
      @include mixins.mobile {
        padding: 100px 0 0;
      }
      &-title {
        @include mixins.mobile {
          font-size: 55px;
        }
        @include mixins.mobile-xs {
          font-size: min(50px, 20vw);
        }
      }
      .mainTitle,
      .secondaryTitle,
      .breadcrumb-follower {
        a {
          color: var(--text-color-dark);
          &:hover {
            text-decoration: none;
            background-color: var(--accent-background-color);
          }
        }
        font-size: 60px;
        display: contents;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 20px;
        @include mixins.mobile {
          font-size: 35px;
        }
      }
      p {
        line-height: 28px;
        margin-bottom: 0;
      }
    }
    &-pagination {
      margin-top: 40px;
      .pagination {
        justify-content: center;
        .page-item {
          &:not(:last-child) {
            margin-right: 10px;
          }
          .page-link {
            font-size: 24px;
            border-radius: 0;
            border: none;
            padding: 12px 20px;
            color: var(--text-color-dark);
            font-weight: 300;
            transition: all 0.3s ease;
          }
          &.active {
            .page-link {
              background-color: var(--primary-color);
              color: var(--color-on-dark-background);
            }
          }
          &.disabled {
            opacity: 0.3;
            cursor: not-allowed;
          }
        }
      }
    }
    &-post {
      $image-height: 130px;
      position: relative;
      transition: all 0.3s ease-in;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;

      &-header {
        &:hover &-paragraph {
          display: unset;
        }
        &:hover &-text {
          color: var(--tertiary-color);
          transition: all 0.3s ease;
        }
        &-text {
          color: var(--text-color-dark);
        }
        &-paragraph {
          font-size: 1rem;
          padding-left: 10px;
          vertical-align: super;
          display: none;
          color: var(--tertiary-color);
        }
      }
      &-thumb,
      &-content {
        box-sizing: border-box;
        width: 100%;
        flex: none;
      }
      &-thumb {
        height: $image-height;
        &-image {
          background: #fff;
        }
        a {
          --top-offset: 0%;
          position: absolute;
          height: $image-height;
          overflow: hidden;
          height: calc(var(--top-offset) + $image-height);
          top: calc(var(--top-offset) * -1);
        }
        img {
          width: 100%;
        }
      }
      &-content {
        margin-left: -100%;
        padding: 15px;
        margin-top: $image-height;
        display: inline-table;

        background: var(--secondary-body-color);
        padding: 45px 50px;
        transition: all 0.3s var(--site-ease);
        @include mixins.desktop-lg {
          padding: 30px 35px 0px;
        }
        @include mixins.desktop {
          padding: 45px 50px 0px;
        }
        @include mixins.tablet {
          padding: 25px 35px 0px;
        }
        @include mixins.mobile {
          padding: 20px 30px 0px;
        }
        @include mixins.mobile-xs {
          padding: 20px 30px 0px;
        }
        &-metadata {
          font-size: 14px;
          font-family: var(--secondary-font);
          color: var(--accent-color-on-alternate-background);
        }
        &-summary {
          padding-top: 10px;
          font-family: var(--text-font);
        }
        &-title {
          margin-bottom: 0;
          a {
            color: var(--text-color-dark);
            transition: 0.3s ease;
            &:hover {
              text-decoration: none;
              color: var(--primary-color);
            }
          }
          font-size: 30px;
          margin-bottom: 0px;
          @include mixins.desktop-lg {
            font-size: 25px;
          }
          @include mixins.desktop {
          }
          @include mixins.tablet {
          }
          @include mixins.mobile {
            font-size: 20px;
          }
          @include mixins.mobile-xs {
            font-size: 18px;
          }
        }
      }
      &-share {
        color: var(--text-color-light-1);
        &:hover {
          transition: 500ms;
          color: var(--primary-color);
          text-decoration: none;
        }
      }
      &-share-modal-link {
        color: var(--tertiary-color);
        &:hover {
          transition: 500ms;
          color: var(--primary-color);
          text-decoration: none;
        }
      }
    }
    &-tags {
      &-title {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    &-details {
      .missing-alt {
        color: orange; // only for debugging
      }
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      .blog-title-wrapper {
        margin-bottom: 20px;

        .blog-title {
          font-size: 40px;
          display: inline;
        }
      }
      .feature-image {
        margin: 0 0 30px;
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 15px;
      }
      blockquote {
        margin: 20px;
        padding: 10px;
        border-left: 5px solid #ccc;
        quotes: "“" "”" "‘" "’";
        text-align: justify;
        text-justify: inter-word;
        &:before {
          content: open-quote;
          font-size: 4em;
          line-height: 0.1em;
          vertical-align: -0.4em;
        }
        &:after {
          content: no-close-quote;
        }
        p {
          display: inline;
        }
      }
      &-content {
        font-family: var(--text-font);
        & * {
          scroll-margin-top: 85px;
        }
        .footnotes {
          ol {
            @include mixins.tablet {
              columns: 1;
              margin-right: initial;
            }
            columns: 2;
            li {
              margin-right: 20px;
            }
          }
          font-size: 0.8em;
          * {
            font-size: 1em;
          }
          hr {
            display: none;
          }
        }
        .footnote-popover {
          .popover-body {
            * {
              /*! purgecss ignore current */
              display: inline;
              font-size: 1em;
            }
          }
          .footnote-backref {
            /*! purgecss ignore current */
            display: none;
          }
        }
      }
    }

    &-improve-page {
      font-size: 18px;
    }
  }
}
.rss-icon {
  color: var(--rss-icon-color);
}

#TableOfContents {
  a {
    color: var(--tertiary-color);
  }
}

.highlight {
  margin: 30px 0;
  pre {
    padding: 10px;
    border-radius: 4%;
  }
}

.archive-section {
  & > * {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
