@use "../mixins";
@use "../variables";
@use "sass:color";

.site {
  &-blog {
    padding: 0 0;
    overflow: hidden;
    @include mixins.mobile {
      padding: 70px 0;
    }
    &.details {
      padding: 150px 0 80px;
      @include mixins.tablet {
        padding: 100px 0 60px;
      }
    }
    &-posthighlight {
      &-wrapper {
        margin-bottom: 50px;
      }
      &-content {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        margin-top: -180px;
        @include mixins.desktop {
          margin-top: 0;
        }
      }
      &-category {
        font-size: 50px;
        color: var(--tertiary-color);
        margin-bottom: 10px;
      }
      &-featureimage {
        width: 100%;
      }
    }
    &-header {
      padding: 120px 0 80px;
      @include mixins.mobile {
        padding: 100px 0 0;
      }
      &-title {
        @include mixins.mobile {
          font-size: 55px;
        }
        @include mixins.mobile-xs {
          font-size: min(50px, 20vw);
        }
      }
      .mainTitle,
      .secondaryTitle,
      .breadcrumb-follower {
        a {
          color: var(--text-color-dark);
          &:hover {
            text-decoration: none;
            background-color: var(--accent-background-color);
          }
        }
        font-size: 60px;
        display: contents;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 20px;
        @include mixins.mobile {
          font-size: 35px;
        }
      }
      p {
        line-height: 28px;
        margin-bottom: 0;
      }
    }
    &-pagination {
      margin-top: 40px;
      .pagination {
        justify-content: center;
        .page-item {
          &:not(:last-child) {
            margin-right: 10px;
          }
          .page-link {
            font-size: 24px;
            border-radius: 0;
            border: none;
            padding: 12px 20px;
            color: var(--text-color-dark);
            font-weight: 300;
            transition: all 0.3s ease;
          }
          &.active {
            .page-link {
              background-color: var(--primary-color);
              color: var(--inverse-text-color);
            }
          }
          &.disabled {
            opacity: 0.3;
            cursor: not-allowed;
          }
        }
      }
    }
    &-post {
      $image-height: 130px;
      position: relative;
      transition: all 0.3s ease-in;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;

      &-thumb,
      &-content {
        box-sizing: border-box;
        width: 100%;
        flex: none;
      }
      &-thumb {
        height: $image-height;
        a {
          --top-offset: 0%;
          position: absolute;
          height: $image-height;
          overflow: hidden;
          height: calc(var(--top-offset) + $image-height);
          top: calc(var(--top-offset) * -1);
        }
        img {
          width: 100%;
        }
      }
      &-content {
        margin-left: -100%;
        padding: 15px;
        margin-top: $image-height;
        display: inline-table;

        background: var(--secondary-body-color);
        padding: 45px 50px;
        transition: all 0.3s var(--site-ease);
        @include mixins.desktop-lg {
          padding: 30px 35px 0px;
        }
        @include mixins.desktop {
          padding: 45px 50px 0px;
        }
        @include mixins.tablet {
          padding: 25px 35px 0px;
        }
        @include mixins.mobile {
          padding: 20px 30px 0px;
        }
        @include mixins.mobile-xs {
          padding: 20px 30px 0px;
        }
        &-date {
          font-size: 14px;
          font-family: var(--secondary-font);
          color: var(--primary-color);
        }
        &-readingtime {
          font-size: 14px;
          font-family: var(--secondary-font);
          color: var(--primary-color);
        }
        &-summary {
          padding-top: 10px;
          font-family: var(--text-font);
        }
        &-title {
          margin-bottom: 0;
          a {
            color: var(--text-color-dark);
            transition: 0.3s ease;
            &:hover {
              text-decoration: none;
              color: var(--primary-color);
            }
          }
          font-size: 30px;
          margin-bottom: 0px;
          @include mixins.desktop-lg {
            font-size: 25px;
          }
          @include mixins.desktop {
          }
          @include mixins.tablet {
          }
          @include mixins.mobile {
            font-size: 20px;
          }
          @include mixins.mobile-xs {
            font-size: 18px;
          }
        }
      }
      &-share {
        color: var(--text-color-light-1);
        &:hover {
          transition: 500ms;
          color: var(--primary-color);
          text-decoration: none;
        }
      }
      &-share-modal-link {
        color: var(--tertiary-color);
        &:hover {
          transition: 500ms;
          color: var(--primary-color);
          text-decoration: none;
        }
      }
    }
    &-tags {
      &-title {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    &-details {
      .missing-alt {
        color: orange; // only for debugging
      }
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      .blog-title-wrapper {
        margin-bottom: 20px;

        .blog-title {
          font-size: 40px;
          display: inline;
        }
      }
      .feature-image {
        margin: 0 0 30px;
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 15px;
      }
      blockquote {
        p {
          /*! purgecss ignore current */
          color: var(--text-color-dark);
          font-size: 18px;
        }
      }
      &-content {
        font-family: var(--text-font);
        & * {
          scroll-margin-top: 85px;
        }
      }
    }

    &-improve-page {
      font-size: 18px;
    }
  }
}
.rss-icon {
  color: var(--rss-icon-color);
}

#TableOfContents {
  a {
    color: var(--tertiary-color);
  }
}
