@use "../mixins";
@use "../variables";

.site-contact {
  padding: 150px 50px 100px;
  background: variables.$gray;
  @include mixins.mobile {
    padding: 120px 20px 100px;
  }
  &-title {
    font-weight: 700;
    font-size: 65px;
    @include mixins.desktop {
      padding-bottom: 30px;
    }
    @include mixins.tablet {
      font-size: 50px;
      padding-bottom: 20px;
    }
    span {
      color: variables.$primary-color;
    }
  }
  &-description {
    width: 60%;
    font-size: 25px;
    font-weight: 300;
    @include mixins.desktop {
      width: 100%;
    }
  }
}
