@use "../mixins";
@use "../variables";

.site-footer {
  background: var(--alternate-body-color);
  padding: 100px 0;
  &-logo {
    margin-bottom: 50px;
    @include mixins.mobile {
      text-align: center;
    }
  }
  &-widget {
    @include mixins.desktop {
      margin-bottom: 40px;
    }
    @include mixins.mobile {
      text-align: center;
    }
    &-title {
      font-size: 18px;
      color: var(--color-on-dark-background);
      margin-bottom: 30px;
      @include mixins.desktop {
        margin-bottom: 20px;
      }
    }
    &-links {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          color: var(--color-on-dark-background);
          transition: all 0.3s var(--site-ease);
          display: block;
          &:hover {
            transition: 500ms;
            color: var(--primary-color);
          }
        }
        &:not(:last-child) {
          a {
            padding-bottom: 9px;
          }
        }
      }
    }
    &-top {
      @include mixins.mobile {
        text-align: center;
        display: block;
      }
      img {
        margin-bottom: 20px;
      }
      p {
        color: var(--color-on-dark-background);
        &:hover {
          transition: 500ms;
          color: var(--primary-color);
        }
      }
    }
  }
  &-copyright {
    p {
      color: var(--color-on-dark-background);
      margin: 50px auto 0;
      text-align: center;
    }
    a {
      color: var(--text-color-dark);
      transition: all 0.3s ease;
      @include mixins.tablet {
        font-size: 20px;
      }
      @include mixins.desktop {
        margin-bottom: 70px;
      }
    }
  }
}
