@use "../mixins";
@use "../variables";

.site-participations {
  &-header {
    padding: 120px 0 40px;
    @include mixins.mobile {
      padding: 100px 0 0;
    }
    &-title {
      @include mixins.mobile {
        font-size: 46px;
      }
      @include mixins.mobile-xs {
        font-size: min(40px, 12vw);
      }
    }
  }

  &-kinds {
    @include mixins.desktop {
      .btn-group {
        display: block;
      }
      .btn-group .btn {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }

  &-item {
    &-header {
      &:hover &-paragraph {
        display: unset;
      }
      &:hover &-text {
        color: var(--tertiary-color);
        transition: all 0.3s ease;
      }
      &-text {
        color: var(--text-color-dark);
      }
      &-paragraph {
        font-size: 1rem;
        padding-left: 5px;
        display: none;
        color: var(--tertiary-color);
      }
    }
  }

  &-items {
    margin-bottom: 50px;
    .card-title {
      font-size: 20px;
    }
    & * {
      scroll-margin-top: 150px;
    }
  }
}

.participation-kind-section {
  & > * {
    margin-right: 1rem !important;
    margin-top: 0.5rem;
  }
}
