@use "../variables";

.site-blog {
  .sharebuttons-wrapper {
    padding: 0;
  }
  .sharebuttons {
    display: flex;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline;
        a {
          margin: 0 0 0 0.6rem;
          text-decoration: none;
          font-size: 20px;
          &:hover * {
            transition: 500ms;
            color: var(--primary-color);
          }
          * {
            color: var(--share-icon-color);
          }
        }
      }
    }
  }
}

.modal-body {
  .sharebuttons {
    display: flex;
    justify-content: center;
    &-title {
      padding-bottom: 10px;
      * {
        font-size: 1.5rem;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline;
        a {
          margin: 0 0 0 0.6rem;
          text-decoration: none;
          font-size: 20px;
          padding: 0 8px;
          &:hover * {
            transition: 500ms;
            color: var(--primary-color);
          }
          * {
            color: var(--share-icon-color);
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  .sharebuttons-wrapper {
    padding: 30px 10px;
    text-align: center;
  }
}
