{{- $index := add 1 (default 0 (.Page.Store.Get "lightbox-count")) -}}
{{- .Page.Store.Set "lightbox-count" $index -}}

{{- $src := urls.Parse (.Get "src") -}}
{{- $originalImageDimensions := 0 }}
{{- $originalImage := 0 -}}
{{- $useRemoteImage := and (not (not (.Get "nodownload"))) $src.IsAbs }}
{{- if $src.IsAbs -}}
  {{- with try (resources.GetRemote $src.String) -}}
    {{- with .Err -}}
      {{- errorf "%s" . -}}
    {{- else with .Value -}}
      {{- $originalImageDimensions = (dict "width" .Width "height" .Height) -}}
      {{- if not $useRemoteImage }}
        {{- $originalImage = . -}}
      {{- end -}}
    {{- else -}}
      {{- errorf "Unable to get remote resource %q" $src.String }}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $originalImage = or (.Page.Resources.Get $src.String) (resources.Get $src.String) -}}
  {{- $originalImageDimensions = (dict "width" $originalImage.Width "height" $originalImage.Height) -}}
{{- end -}}
{{- $requestedLargeImageDimensions := (dict "width" (int (default 0 (.Get "width"))) "height" (int (default 0 (.Get "height")))) }}
{{- $requestedThumbImageDimensions := (dict "width" (int (default 0 (.Get "thumb_width"))) "height" (int (default 0 (.Get "thumb_height")))) }}

{{- if not (add $requestedLargeImageDimensions.height $requestedLargeImageDimensions.width) -}}
  {{- $requestedLargeImageDimensions = $originalImageDimensions }}
{{- else if and $requestedLargeImageDimensions.height (not $requestedLargeImageDimensions.width) -}}
  {{- $requestedLargeImageDimensions = merge $requestedLargeImageDimensions (dict "width" (int (div (float $requestedLargeImageDimensions.height) (div (float $originalImageDimensions.height) $originalImageDimensions.width)))) -}}
{{- else if and $requestedLargeImageDimensions.width (not $requestedLargeImageDimensions.height) -}}
  {{- $requestedLargeImageDimensions = merge $requestedLargeImageDimensions (dict "height" (int (div (float $requestedLargeImageDimensions.width) (div (float $originalImageDimensions.width) $originalImageDimensions.height)))) -}}
{{- end -}}

{{- $image := 0 -}}
{{- $imageURL := "" -}}
{{- $thumbImageURL := "" -}}
{{- if $useRemoteImage -}}
  {{- $imageURL = $src.String -}}
  {{- $thumbImageURL = $src.String -}}
{{- else -}}
  {{- $thumbImage := 0 }}
  {{- with $originalImage -}}
    {{- if eq .MediaType.SubType "svg" }}
      {{- errorf "Can't use svg images with lightbox." }}
    {{- else if eq .MediaType.SubType "webp" }}
      {{- $image = . }}
    {{- else -}}
      {{- $image = .Process "webp" }}
    {{- end -}}
    {{- $thumbImage = $image -}}
  {{- else -}}
    {{- erroridf "shortcode-lightbox-missing-image" "The %q shortcode was unable to get the image. See %s" $.Name $.Position -}}
  {{- end -}}
  {{- $imageURL = $image.RelPermalink -}}
{{- end -}}

{{- $thumbImageSrcsetText := "" -}}
{{- $thumbImageSizesText := "" -}}
{{- if not $useRemoteImage -}}
  {{- $thumbImageSrcsets := slice -}}
  {{- $thumbImageSizes := slice -}}
  {{- range sort (slice  400 575 767 991 1200 1400 2000 $originalImageDimensions.width) -}}
    {{- if ge $originalImageDimensions.width . }}
      {{- $thumbImageSrcsets = $thumbImageSrcsets
        | append (printf "%s %dw" ($originalImage.Resize (printf "%dx webp" .)).RelPermalink .)
      -}}
      {{- $thumbImageSizes = $thumbImageSizes | append (printf "%dpx" .) -}}
    {{- end -}}
  {{- end -}}
  {{- if eq 1 (len $thumbImageSrcsets) }}
    {{- $thumbImageSrcsets = slice -}}
  {{- end -}}
  {{- $thumbImageSrcsetText = delimit $thumbImageSrcsets ", " -}}
  {{- $thumbImageSizesText  = delimit $thumbImageSizes ", " -}}
{{- end -}}
{{- $title := default (.Get "alt") (.Get "title") -}}
{{- $alt := default $title (.Get "alt") -}}
<!-- prettier-ignore -->
{{- if not .Parent -}}
<div class="lightbox-gallery">
{{- end -}}
<a
  href="{{ $imageURL }}"
  {{ printf "data-pswp-width=%q" (string $requestedLargeImageDimensions.width) | safeHTMLAttr }}
  {{ printf "data-pswp-height=%q" (string $requestedLargeImageDimensions.height) | safeHTMLAttr }}
  target="_blank"
  class="lightbox {{ .Get "link_class" }}"
  data-alt="{{ $alt }}"
  {{ with $title }}data-title="{{ . }}"{{ end }}
  {{ with $thumbImageSrcsetText }}{{ printf "data-pswp-srcset=%q" . | safeHTMLAttr }}{{ end }}
>
  {{ partial "img-only.html" (dict
    "src" $thumbImageURL
    "image" $image
    "alt" $alt
    "dimensions" $requestedThumbImageDimensions
    "class" (.Get "img_class")
    "srcset" $thumbImageSrcsetText
    "sizes" $thumbImageSizesText
    "forceAspectRatio" false)
  }}
</a>
<!-- prettier-ignore -->
{{- if not .Parent -}}
</div>
{{- end -}}
