{{- $image := or (.Resources.Get .Params.feature_image) (.Parent.Resources.Get .Params.feature_image) -}}
{{- $alt := .Params.feature_image_alt -}}
{{- if not $image -}}
  {{- if or (and (eq .Params.use_default_feature_image nil) site.Params.use_default_feature_image) .Params.use_default_feature_image }}
    {{- $image = resources.Get site.Params.blog_feature_image -}}
    {{- $alt = i18n "blog_feature_image_alt" -}}
  {{- end -}}
{{- end -}}
<!--alt is null on purpose, so screen readers dont pick up the feature image -->
{{ partial "img.html" (dict "image" $image "class" .class "alt" "" "ignoreAlt" true "forceAspectRatio" true) }}
