{{- $image := or (.page.Resources.Get .page.Params.featureImage) (.page.Parent.Resources.Get .page.Params.featureImage) -}}
{{- $alt := .page.Params.featureImageAlt -}}
{{- if not $image -}}
  {{- if or (and (eq .page.Params.useDefaultFeatureImage nil) site.Params.useDefaultFeatureImage) .page.Params.useDefaultFeatureImage }}
    {{- $image = (site.GetPage "/blog/").Resources.Get site.Params.blogFeatureImage -}}
    {{- $alt = i18n "blogFeatureImageAlt" -}}
  {{- end -}}
{{- end -}}
<!--alt is null on purpose, so screen readers don't pick up the feature image -->
{{ partial "img.html" (dict
  "image" $image
  "class" .class
  "alt" ""
  "ignoreAlt" true
  "forceAspectRatio" true
  "style" .page.Params.feature_image_list_extra_style
  "additionalSizes" (slice 456 516 site.Params.postListMaxImageWidth (mul 2 site.Params.postListMaxImageWidth))
  "sizes" "(max-width: 575px) calc(100vw - 24px), (max-width: 767px) 516px, (max-width: 991px) 690px, (max-width: 1200px) 456px, 526px"
  )
}}
