<nav class="navbar navbar-expand-md site-navigation">
  <div class="container-md p-0">
    <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
      {{ partial "img.html" (dict "src" .Site.Params.logo "alt" (i18n "logoAlt") "class" "nav-logo nav-logo-light") }}
      {{ partial "img.html" (dict "src" .Site.Params.logoFooter "alt" (i18n "logoAlt") "class" "nav-logo nav-logo-dark") }}
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sitenavbar"
      aria-controls="sitenavbar"
      aria-expanded="false"
      aria-label="{{ i18n "menu.title" }}"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ms-auto main-nav">
        {{- $menu := (.Site.Menus.nav) }}
        {{- $len := (len $menu) }}
        {{- range $element := $menu }}
          {{- $url := .PageRef | relLangURL }}
          {{- $name := (or (i18n .Identifier) .Name | safeHTML) }}
          {{- $nameSmaller := i18n (printf "%sSmaller" .Identifier) }}
          <li class="nav-item" {{ if .Params.ariaDisabled }}aria-disabled="true"{{ end }}>
            {{- $number_of_links := cond $nameSmaller 2 1 }}
            {{- range $num := (seq $number_of_links) }}
              {{- $extra_classes := "" }}
              {{- if $element.Params.featured }}
                {{- $extra_classes = "btn btn-sm btn-primary btn-sm-rounded" -}}
              {{- else }}
                {{- $extra_classes = "nav-link" -}}
              {{- end }}
              {{- if eq $number_of_links 2 }}
                {{- if eq $num 1 }}
                  {{- $extra_classes = printf "%s d-block d-md-none d-lg-block mx-5 mx-lg-0" $extra_classes -}}
                {{- else }}
                  {{- $extra_classes = printf "%s d-none d-md-block d-lg-none" $extra_classes -}}
                {{- end }}
              {{- end }}
              <a
                class="{{ $extra_classes }}"
                href="{{ $url }}"
                {{ if $element.Params.ariaDisabled }}tabindex="-1"{{ end -}}
                {{ if eq $num 2 -}}aria-hidden="true"{{- end -}}
              >
                {{- if eq $num 1 -}}
                  {{- $name -}}
                {{- else -}}
                  {{- $nameSmaller -}}
                {{- end -}}
              </a>
            {{- end }}
          </li>
        {{- end }}
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ "search" | relLangURL }}"
            aria-label="{{ i18n "search" }}"
            title="{{ i18n "search" }}"
            ><i class="fa fa-search nav-search"></i
          ></a>
        </li>

        <li class="nav-item dropdown theme-picker align-self-center align-self-md-start">
          <button
            class="btn btn-link nav-link py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static"
            aria-label="Toggle theme (auto)"
          >
            <span class="theme-icon-active">
              <i class="fa-solid fa-circle-half-stroke color-picker-icon"></i>
            </span>
            <span class="d-md-none ms-2" id="bd-theme-text">{{ i18n "theme.toggle" }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="light"
                aria-pressed="false"
              >
                <i class="fa-solid fa-sun color-picker-icon"></i>
                {{ i18n "theme.light" }}
                <i class="fa-solid fa-check d-none color-picker-check"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark"
                aria-pressed="false"
              >
                <i class="fa-solid fa-moon color-picker-icon"></i>
                {{ i18n "theme.dark" }}
                <i class="fa-solid fa-check d-none color-picker-check"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center active"
                data-bs-theme-value="auto"
                aria-pressed="true"
              >
                <i class="fa-solid fa-circle-half-stroke color-picker-icon"></i>
                {{ i18n "theme.auto" }}
                <i class="fa-solid fa-check d-none color-picker-check"></i>
              </button>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <p class="py-2">
            {{- range .Translations }}
              <a href="{{ .RelPermalink }}" aria-label="{{ i18n "changeLanguageTo" }} {{ .Language.LanguageName }}">
                {{ .Language.Params.flagEmoji | safeHTML }}
              </a>
            {{- end }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
