<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-label="{{ i18n "share" }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ i18n "close" }}">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="sharebuttons-wrapper">
          <div class="sharebuttons-title">
            <p>{{ i18n "share_on" }}</p>
          </div>
          <div class="sharebuttons">
            <ul>
              {{- if site.Params.social_share.bluesky }}
                <li>
                  <a
                    href="https://bsky.app/intent/compose?text=#text#"
                    target="_blank"
                    rel="noopener"
                    class="share-button-bluesky"
                    aria-label="{{ i18n "social_share.bluesky" }}"
                  >
                    <i class="fa-brands fa-bluesky"></i>
                  </a>
                </li>
              {{- end }}
              {{- if site.Params.social_share.facebook }}
                <li>
                  <a
                    href="https://www.facebook.com/sharer.php?u=#url#&t=#title#"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{ i18n "social_share.facebook" }}"
                    class="share-button-facebook"
                    ><i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
              {{- end }}
              {{- if site.Params.social_share.twitter }}
                <li>
                  <a
                    href="https://twitter.com/intent/tweet?text=#text#&url=#url#"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{ i18n "social_share.twitter" }}"
                    class="share-button-twitter"
                    ><i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
              {{- end }}
              {{- if site.Params.social_share.linkedin }}
                <li>
                  <a
                    href="https://www.linkedin.com/shareArticle?mini=true&url=#url#"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{ i18n "social_share.linkedin" }}"
                    class="share-button-linkedin"
                    ><i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
              {{- end }}
              {{- if site.Params.social_share.whatsapp }}
                <li>
                  <a href="whatsapp://send?text=#textBody#" target="_blank" class="share-button-whatsapp"
                    ><i class="fa-brands fa-whatsapp" aria-label="{{ i18n "social_share.whatsapp" }}"></i
                  ></a>
                </li>
              {{- end }}
              {{- if site.Params.social_share.mail }}
                <li>
                  <a
                    href="mailto:?subject=#title#&body=#textBody#"
                    target="_blank"
                    aria-label="{{ i18n "social_share.mail" }}"
                    class="share-button-mail"
                    ><i class="fa-regular fa-envelope"></i>
                  </a>
                </li>
              {{- end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
