{{ define "main" }}
  <div class="site-about" data-pagefind-body>
    <section class="site-about-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1">
            <div class="h-100 d-flex flex-column">
              <div>
                <h1 class="site-about-header-quote">
                  <i class="fa-solid fa-quote-left"></i>
                  {{ .Params.quote -}}
                </h1>
                <h1 class="site-about-header-quote2">
                  {{- .Params.quote2 }}
                  <i class="fa-solid fa-quote-right"></i>
                </h1>
                <p class="site-about-header-name text-end" data-pagefind-meta="title">Giovanni Bassi</p>
              </div>
              <div class="mt-auto site-about-header-participations justify-content-around">
                {{- with site.GetPage "/participationkinds/videos/" }}
                  {{- if .Pages -}}
                    <p class="site-about-header-participations-item">
                      <a
                        href="{{ .RelPermalink }}"
                        aria-label="{{ .LinkTitle }}"
                        class="site-about-header-participations-item-link"
                      >
                        <i class="fa-brands fa-youtube"></i>
                        <span class="site-about-header-participations-item-text">{{ .LinkTitle }}</span>
                      </a>
                    </p>
                  {{- end }}
                {{- end }}
                {{- with site.GetPage "/blog/" }}
                  <p class="site-about-header-participations-item">
                    <a
                      href="{{ .RelPermalink }}"
                      aria-label="{{ i18n "publications" }}"
                      class="site-about-header-participations-item-link"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                      <span class="site-about-header-participations-item-text">{{ i18n "publications" }}</span>
                    </a>
                  </p>
                {{- end }}
                <p class="site-about-header-participations-item">
                  <a
                    href="#ways-to-contact"
                    aria-label="{{ i18n "socialNetworks" }}"
                    class="site-about-header-participations-item-link"
                  >
                    <i class="fa-solid fa-hexagon-nodes"></i>
                    <span class="site-about-header-participations-item-text">{{ i18n "socialNetworks" }}</span>
                  </a>
                </p>
                {{- with site.GetPage "/participationkinds/talks/" }}
                  {{- if .Pages -}}
                    <p class="site-about-header-participations-item">
                      <a
                        href="{{ .RelPermalink }}"
                        aria-label="{{ .LinkTitle }}"
                        class="site-about-header-participations-item-link"
                      >
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <span class="site-about-header-participations-item-text">{{ .LinkTitle }}</span>
                      </a>
                    </p>
                  {{- end }}
                {{- end }}
                {{- with site.GetPage "/participationkinds/podcasts/" }}
                  {{- if .Pages -}}
                    <p class="site-about-header-participations-item">
                      <a
                        href="{{ .RelPermalink }}"
                        aria-label="{{ .LinkTitle }}"
                        class="site-about-header-participations-item-link"
                      >
                        <i class="fa-solid fa-podcast"></i>
                        <span class="site-about-header-participations-item-text">{{ .LinkTitle }}</span>
                      </a>
                    </p>
                  {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 site-about-header-image-wrapper order-1 order-md-2">
            {{ partial "img.html" (dict
              "image" (resources.Get site.Params.contactFeatureImage)
              "alt" .Params.featureImageAlt
              "sizes" "(max-width: 767px) 100vw, min(40vw, 513px)"
              "class" "site-about-header-image")
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 site-about-name">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="col-12 site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="site-about-expertise">
      <div class="container site-about-expertise-container">
        <div class="row site-about-expertise-container-margin"></div>
        <div class="row site-about-expertise-container-wrapper">
          {{ with .Params.expertiseTitle }}
            <div class="col-12 col-md-5 align-items-center d-flex">
              <div class="section-title">
                <h2>{{ . }}</h2>
              </div>
            </div>
          {{ end }}
          <div class="col-12 col-md-7">
            <ul class="site-about-expertise-container-list">
              {{ range .Params.expertiseSectors }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="row site-about-expertise-container-margin"></div>
      </div>
    </section>

    {{ partial "ways-to-contact.html" . }}
  </div>
{{ end }}
