{{ define "main" }}
  <section class="site-participations-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 class="site-participations-header-title">
            <span data-pagefind-meta="title">{{- .Title }}</span>
            {{ partial "rss_icon.html" (.OutputFormats.Get "rss") }}
          </h1>
          <p>
            {{ .Description }}
          </p>
        </div>
      </div>
    </div>
  </section>
  {{- with where .Site.Taxonomies.participationkinds ".Page.Section" "participations" -}}
    <section class="site-participations-kinds">
      <div class="container">
        <div class="row">
          <div class="col site-participations-kinds-filter-by">{{ i18n "filterBy" }}</div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <div
              class="participation-kind-section d-flex flex-column flex-sm-row justify-content-start text-center"
              role="group"
            >
              {{ range . }}
                <a class="btn btn-sm btn-tertiary" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <div data-pagefind-body>
    {{- partial "participationKind_list.html" . }}
  </div>
{{ end }}
